html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f0eff5;
  overflow: hidden;
}

h1,
h2,
h3 {
  color: #333269;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  height: 100vh;
}
@media screen and (max-width: 570px) {
  .container {
    grid-template-columns: 0fr 2fr;
  }
}
.container .sidebar {
  background-color: #333269;
}
.container .sidebar .side-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.container .sidebar .side-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 1.2rem;
}
.container .sidebar .side-container .logo img {
  width: 2.7rem;
  margin-bottom: 0.7rem;
}
.container .sidebar .side-container .logo p {
  color: #888698;
  font-size: 3rem;
  font-family: "MuseoModerno", cursive;
}
@media screen and (max-width: 1300px) {
  .container .sidebar .side-container .logo p {
    font-size: 0;
  }
}
@media screen and (max-width: 570px) {
  .container .sidebar .side-container .logo {
    display: inline-block;
    margin-top: 0;
    text-align: center;
  }
  .container .sidebar .side-container .logo img {
    margin-bottom: 0;
    padding: 2.4rem 2.4rem;
  }
}
.container .sidebar .side-container .bar-items {
  text-align: center;
}
.container .sidebar .side-container .bar-items .menu {
  margin-top: 3rem;
  display: inline-block;
  width: 50%;
}
.container .sidebar .side-container .bar-items .menu .item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.container .sidebar .side-container .bar-items .menu .item .icon {
  color: #c0beff;
  font-size: 1.7rem;
}
.container .sidebar .side-container .bar-items .menu .item span {
  transition: all linear 0.1s;
  color: #c0beff;
  font-size: 1.6rem;
}
.container .sidebar .side-container .bar-items .menu .item:hover i {
  color: rgba(192, 190, 255, 0.2);
}
.container .sidebar .side-container .bar-items .menu .item:hover span {
  color: white;
  margin-left: 4px;
}
@media screen and (max-width: 1300px) {
  .container .sidebar .side-container .bar-items .menu .item {
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .container .sidebar .side-container .bar-items .menu .item span {
    font-size: 0;
  }
  .container .sidebar .side-container .bar-items .menu .item .icon {
    color: #c0beff;
    font-size: 2.5rem;
  }
}
.container .sidebar .side-container .bar-items .menu .active-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.container .sidebar .side-container .bar-items .menu .active-item span {
  transition: all linear 0.1s;
  color: #c0beff;
  font-size: 1.6rem;
  color: white;
}
.container .sidebar .side-container .bar-items .menu .active-item .icon {
  color: rgba(192, 190, 255, 0.2);
  font-size: 1.7rem;
}
@media screen and (max-width: 1300px) {
  .container .sidebar .side-container .bar-items .menu .active-item {
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .container .sidebar .side-container .bar-items .menu .active-item span {
    font-size: 0px;
  }
  .container .sidebar .side-container .bar-items .menu .active-item .icon {
    color: white;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 570px) {
  .container .sidebar .side-container .bar-items {
    display: none;
  }
}
.container .sidebar .side-container .sidebar-footer {
  box-sizing: border-box;
  padding-top: 5rem;
  padding-left: 2.1rem;
  margin-top: auto;
  background-color: #1d1c40;
  width: 17.9rem;
  height: 19rem;
  border-radius: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  color: white;
  line-height: 2.3rem;
}
.container .sidebar .side-container .sidebar-footer img {
  position: absolute;
  width: 10.17rem;
  bottom: 0;
  right: 0;
}
.container .sidebar .side-container .sidebar-footer span {
  display: block;
  font-weight: 600;
}
@media screen and (max-width: 1370px) {
  .container .sidebar .side-container .sidebar-footer {
    width: 16.9rem;
    height: 18rem;
    padding-top: 4rem;
    padding-left: 1.9rem;
  }
}
@media screen and (max-width: 1300px) {
  .container .sidebar .side-container .sidebar-footer {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .container .sidebar {
    height: min-content;
  }
}

/*# sourceMappingURL=styles.css.map */
