@use "./colors" as *;
@use "./common";
@use "./sidebar" as *;
@include common.commonStyle;

.container {
  //   background-color: gray;
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  height: 100vh;

  @media screen and (max-width: 570px) {
    grid-template-columns: 0fr 2fr;
  }

  ///sidebar
  @include sidebar;
}
